.git/
.vs/
.vscode/
__pycache__/
src/common/config.py
*.pyc
*.pyo
*.pyd
*.txt
!requirements.txt
*.jpg
*.png
*.md
!README.md
data/input/files/*
!data/input/files/.gitkeep
data/input/images/*
!data/input/images/.gitkeep
data/input/screenshots/*
!data/input/screenshots/.gitkeep
data/input/text/*
!data/input/text/.gitkeep
data/input/videos/*
!data/input/videos/.gitkeep
data/output/json/*
!data/output/json/.gitkeep
*.log
*test*
.env
.venv/