.git/
.vs/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.txt
*.jpg
*.png
*.md
data/input/files/*
data/input/images/*
data/input/screenshots/*
data/input/text/*
data/input/videos/*
data/output/json/*
.ipynb_checkpoints/
*.log
.env
.venv/
